<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
              http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 启用shrio授权注解拦截方式 -->
    <bean name="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--注入安全管理器对象-->
        <property name="securityManager" ref="securityManager"></property>
        <!--注入相关页面URL-->
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/admin_index.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <!--注入拦截器规则-->
        <property name="filterChainDefinitions">
            <value>
                /css/** =anon
                /CheckImage.cms* =anon
                /sysUser/login.cms* =anon
                /js/** =anon
                /zui/** =anon
                /image/** =anon
                /login.jsp* =anon
                /unauthorized.jsp* =anon
                /sysRole/listByRoleId.cms* =anon
                /** = authc
            </value>
        </property>
    </bean>

    <!--注册安全管理器对象-->
    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="cmsRealm"/>
    </bean>
    <!--注册realm-->
    <bean name="cmsRealm" class="top.cms.realm.CMSRealm">
    </bean>
</beans>