<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cms.dao.SysUserMapper">
    <resultMap id="sysUserResult" type="SysUser">
        <id property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="VARCHAR"/>
        <result property="lastTime" column="lastTime" jdbcType="VARCHAR"/>
        <result property="loginTime" column="loginTime" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="sign" column="sign" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findSysUserByUsernameAndPassword" parameterType="SysUser" resultMap="sysUserResult">
        select uid,username,password,name,sign,role_id from sys_user where username=#{username} AND password=#{password}
    </select>
    <select id="findSysUserByUsername" parameterType="string" resultMap="sysUserResult">
        select uid,username,password,name,sign,role_id from sys_user where username=#{username}
    </select>
</mapper>