<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cms.dao.TxBugMapper">
    <resultMap id="txBugResultMap" type="TxBug">
        <id property="txId" column="tx_id"/>
        <result property="userId" column="user_id"/>
        <result property="txCreatetime" column="tx_createtime"/>
        <result property="questionType" column="questionType"/>
        <result property="questionDescribe" column="questionDescribe"/>
        <result property="questionSpeed" column="questionSpeed"/>
        <result property="solution" column="Solution"/>
        <association property="sysUser" javaType="SysUser">
            <id property="uid" column="uid"/>
            <result property="name" column="name"/>
            <result property="address" column="address"/>
            <result property="telephone" column="telephone"/>
        </association>
    </resultMap>
    <select id="findTxBugAll" resultMap="txBugResultMap" parameterType="top.cms.utils.PageBean">
        select t.tx_id,t.tx_createtime,t.questionType,t.questionSpeed,t.questionDescribe,u.name,u.address,u.telephone
         from tx_bug t,sys_user u
         where t.user_id=u.uid limit #{startSize},#{pageSize}
    </select>
    <select id="findTxBugCount" resultType="int">
        select count(*) from sys_user u,tx_bug tx WHERE tx.user_id=u.uid
    </select>
    <select id="findTxBugByPams" parameterType="TxBug" resultMap="txBugResultMap">
         select t.tx_id,t.tx_createtime,t.questionType,t.questionSpeed,t.questionDescribe,u.name,u.address,u.telephone
         from tx_bug t,sys_user u
         where t.user_id=u.uid
        <if test="sysUser.name!=null and sysUser.name!=''">
            and u.name=#{sysUser.name}
        </if>
        <if test="questionSpeed!=null and questionSpeed!=''">
            and t.questionSpeed=#{questionSpeed}
        </if>
        <if test="sysUser.address!=null and sysUser.address!=''">
            and u.address like #{sysUser.address}
        </if>
    </select>
    <select id="findTxBugByTxId" parameterType="string" resultMap="txBugResultMap">
        select t.tx_id,t.tx_createtime,t.questionType,t.questionSpeed,t.questionDescribe,u.name,u.address,u.telephone
         from tx_bug t,sys_user u
         where t.user_id=u.uid and t.tx_id=#{txId}
    </select>
    <update id="editTxBugByTxId" parameterType="TxBug">
        update tx_bug set questionSpeed=#{questionSpeed},Solution=#{solution} where tx_id=#{txId}
    </update>
    <select id="findTxBugCount2" resultType="int">
        select count(*) from tx_bug
    </select>
    <select id="findTxBugNew" resultMap="txBugResultMap">
        select t.tx_id,t.tx_createtime,t.questionType,t.questionSpeed,t.questionDescribe,u.name,u.address,u.telephone
         from tx_bug t,sys_user u
         where t.user_id=u.uid order by t.tx_createtime desc limit 0,5
    </select>
</mapper>